body {
    background-color: #2F2E41;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    color: white;
    max-height: 715px;
}

.father {
    max-width: 1080px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-top: 71px;
    margin-bottom: 101px;
}

ul {
    display: flex;
    list-style: none;
}

li a {
    text-decoration: none;
    color: white;
    transition: 0.4s all;
}

li a:hover {
    color: #C2C2C2;
    transition: 0.4s all;
}

li + li {
    margin-left: 64px;
}

main {
    display: flex;
    align-items: center;
    
}

section {
    text-align: center;
    margin-left: 77px;
    }

h1 {
    font-size: 34px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 59px;
    margin-top: 0;
}

section p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #C2C2C2;
}

span {
    color: #00BFA6;
}

footer {
    max-width: 572px;
    margin: 157px auto 0 auto;
    border-top: solid 1px #00BFA6;
    font-size: 14px;

}

.informacoes {
    margin-top: 30px;
    text-align: center;
}

.informacoes a {
    text-decoration: none;
    color: white;
    transition: 0.4s all;
}

.informacoes a:hover {
    color: #C2C2C2;
    transition: 0.4s all;
}

#cadeado {
    position: fixed;
    left: 0;
    margin: 0px 0px 20px 20px;
}

